// DEFAULT THEME
//--------------------------------------
$playfair: 'Playfair Display', serif;

$small: 14px;
$normal: 18px;
$titulo: 60px;
$titulo-2: 48px;
$titulo-3: 22px;

$line-height-parragraph: 40px;

$regular: 400;
$bold: 700;

$color-azul: #4178b8;
$color-pink: #e775ad;
$color-gray-text: #666666;
$color-pink-two: #f8abad;
$color-white: #ffffff;


// ALL COLORS
//--------------------------------------


// COLORS BUTTONS
//--------------------------------------


// COLORS FORMULÁRIOS
//--------------------------------------



// TRANSITIONS AND TRANSFORM
//--------------------------------------

