// DEFAULT THEME
//--------------------------------------
$normal: 18px;
$titulo: 80px;

$line-height-parragraph: 40px;

$regular: 400;
$bold: 700;

$color-azul: #4178b8;
$color-pink: #e775ad;
$color-gray-text: #666666;


// ALL COLORS
//--------------------------------------


// COLORS BUTTONS
//--------------------------------------


// COLORS FORMULÁRIOS
//--------------------------------------



// TRANSITIONS AND TRANSFORM
//--------------------------------------

