// GERAL
//--------------------------------------

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin: 12px 0;
}

.main-container {
    width: 100%;
    display: flex;
    height: fit-content;
    padding: 18px;
    justify-content: center;
}

.columns {
    flex-direction: column;
}

.align {
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.secondary-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    height: fit-content;
    margin: 0 auto;
}

.text {
    color: $color-gray-text;
    font-size: $normal;
    font-weight: $regular;
    line-height: $line-height-parragraph;
}

//TITULOS EN CONTENIDO
