// GERAL
//--------------------------------------
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    
}

h1 {
    margin: 12px 0;
}

.main-container {
    width: 100%;
    display: flex;
    height: fit-content;
    padding: 18px;
    justify-content: center;
}

.columns {
    flex-direction: column;
}

.align {
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.vertical-padding {
    padding: 64px 0;
}

.margin-bottom-one {
    margin-bottom: 40px;
}

.secondary-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    height: fit-content;
    margin: 0 auto;
}

.text {
    color: $color-gray-text;
    font-size: $normal;
    font-weight: $regular;
    line-height: $line-height-parragraph;
}

.text-two {
    color: $color-white;
    font-size: $normal;
    font-weight: $regular;
    line-height: $line-height-parragraph;
}

.text-three {
    font-size: $small;
    color: $color-white;
}

//TITULOS EN CONTENIDO

.title-two {
    font-size: $titulo-2;
    font-weight: $bold;
    color: $color-pink-two;
}

.title-three {
    font-family: $playfair;
    font-weight: $bold;
    color: $color-white;
    font-size: $titulo-2;
}

.title-four {
    font-size: $titulo-3;
    font-weight: $bold;
    color: $color-white;
}

.title {
    font-size: $titulo;
    font-weight: $bold;
    color: $color-azul;
}

.title-five {
    font-size: $titulo-2;
    font-weight: $bold;
    color: $color-azul;
}
