// HEADER
//--------------------------------------

header {
    position: absolute;
    top: 50px;
    div {
        display: flex;
        justify-content: space-between;

        img.logo {
            width: 272px;
            height: 75px;
        }

        img.anos {
            height: 75px;
            width: auto;
        }

        nav.menu {
            display: flex;
            align-items: center;
            ul {
                display: flex;
                align-content: center;
                list-style: none;
                gap: 20px;
                li {
                    a {
                        text-decoration: none;
                        font-size: $regular;
                        color: $color-azul;
                    }

                    a:hover {
                        font-weight: $bold;
                    }
                }

                li:hover {
                    border-bottom: 3px solid $color-pink;
                }
            }
        }
    }
}